

 
.bandeau {
    background-color: #7eb6c4;
    color: #ECF0F1;
    padding: 15px;
    text-align: center;
    font-size: 26px;
    border-radius: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.footer {
    background-color: #7eb6c4;
    color: #ECF0F1;
    padding: 15px;
    text-align: center;
    font-size: 14px;
    border-radius: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* NavBar */

.menu {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    color: #ECF0F1;
}

* {
    margin: 0px;
    padding: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

nav {
    width: 100%;
    margin: 0px auto 40px auto;
    background-color: #7eb6c4;
    position: sticky;
    top: 0px;
    margin-bottom: 0;
    font-size: 1.5em;
    color: #ECF0F1;
}

nav ul {
    list-style-type: none;
}

nav li {
    float: left;
    width: 25%; 
    text-align: center; 
}

nav ul::after {
    content: "";
    display: table;
    clear: both;
}

nav a {
    display: block; 
    text-decoration: none;
    color: black;
    border-bottom: 2px solid transparent; 
    padding: 10px 0px; 
}

nav a:hover {
    color: orange;
    border-bottom: 2px solid gold;
}

.conteneur {
  margin: 0px 20px;
  height: 1500px;
}

/* display for CV and DL */
.Skills_CV {
    background-color: white;
    height: 800px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.cv-container {
    text-align: center;
    margin-top: 50px;
}

/* Skill Grid */

.container {
    display: flex; 
    flex-wrap: wrap; 
    justify-content: space-between; 
}

.inline-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 48%; 
}

.item {
    width: 100%; 
    height: 100px;
    text-align: center;
}

 /* Style for diff categories */

 .categories_blue {
    background-color: lightblue;
    height: 800px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 0;
}

.categories_white {
    background-color: white;
    height: 800px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.MentionLegale {
    background-color: lightblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    text-align: justify;
}

.Plan {
    background-color: lightblue;
    min-height: 100vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 0;
}

.Body {
    background-color: lightblue;
    text-align: center;
    font-size: 1.2em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    min-height: 100vh;
    color: #4f747d;
}

.Skill_list {
    text-align: justify;
    margin-left: 20px;
}

/* Modal JS */

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}
.modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    max-width: 80%;
    position: relative;
}
.close {
    position: absolute;
    top: 10px;
    right: 10px;
    color: red;
    font-size: 16px;
    cursor: pointer;
}

/* Link */
a:link {
    color: inherit; 
    text-decoration: none; 
}

a:visited {
    color: inherit; 
    text-decoration: none; 
}

a:hover {
    color: inherit; 
    text-decoration: none;
}

a:active {
    color: inherit; 
    text-decoration: none;
}

/* image size */

.small {
    width: 50px;
    height: 50px;
}

.normal {
    width: 200px;
    height: 200px;
}

.normal_presentation1 {
    width: 200px;
    height: 200px;
    float: right;
}

.normal_presentation2 {
    width: 200px;
    height: 200px;
    float: left;
}

.verysmall {
    width: 30px;
    height: 30px;
}

.big {
    width: 361px;
    height: 512px;
    cursor: pointer;
}

/* Style for smaller Screen */

@media (max-width: 900px) {
    nav{
        font-size: 19px
    }
}

@media (max-width: 480px) {
    body {
        font-size: 10px;
    }

    .footer {
        font-size: 10px;
    }

    nav {
        font-size: 9px;
    }

    img.normal {
        width: 100px;
        height: 100px;
    }

    .normal_presentation1 {
        width: 100px;
        height: 100px;
        float: right;
    }
    
    .normal_presentation2 {
        width: 100px;
        height: 100px;
        float: left;
    }
    

}
